[submodule "fnordmetric-ui"]
	path = fnordmetric-ui
	url = git@github.com:cssum/fnordmetric-ui.git
[submodule "fnordmetric-enterprise"]
	path = fnordmetric-enterprise
	url = git@github.com:cssum/fnordmetric-enterprise.git
